#main_menu {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    width: 700px;
    height: 1100px;
    flex-shrink: 0;
}

.boarder_back {
    background: rgba(105.36, 172.96, 164.59, 0.50);
}

div {
    border-radius: 40px;
    position: absolute;
}

.schedule_list {
    background: rgba(224, 242, 241, 0.60);
    border-radius: 60px
}